<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" >
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>


</head>

<body>

    <div id="main" style="height: 538px">
        <div id="avatar"></div>
        <div id="account">
            <div class="input-box"><p>邮  箱</p><input type="text" placeholder="Please input email" id="email"></div>
            <div class="input-box"><p>密  码</p><input type="password" placeholder="Please input password" id="password"></div>
            </div>

            <button class="login-btn" onclick="put_login()">Sign In</button>
            <div id="footer">
                <a href="#">Forget Password?</a>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        var password = "";
        var email = "";
        function put_login(){
            password = $('#password').val();
            email = $('#email').val();

            $.ajax({
            url: "{% url 'account:login' %}",
            data: {
                password: password,
                email: email,
                 },
            type: "POST",
            dataType: "json",
            success: function (data) {
                // data = jQuery.parseJSON(data);  //dataType指明了返回数据为json类型，故不需要再反序列化
                if (data["status"] == "success"){
                    window.location.href = "{% url 'interest:index' %}"
                } else {
                    alert(data["message"])
                }

            }
        })
        }



          $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });


    </script>
</body>
</html>